@import url(../root.module.css);

.footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    position: sticky;
    bottom: 0;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 3em;
    padding-bottom: 80px;
    clear: both;
    margin-top: 100px;
}

.navbar{
    width: 100%;
    
}

.menu{
    height: 15px;
}

.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.menu ul li{
    width: 120px;
    margin: 0 10px 0 10px;
}

.menu ul li svg{
    margin: 0 auto;
    font-size: 28px;
}

.menu ul li a{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    text-wrap: nowrap;
    color: var(--tertiary-color);
}

.menu ul li a:hover{
    font-weight: bolder;
}

@media(max-width: 500px){
    .footer{
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-color);
        position: sticky;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 3em;
        z-index: 1;
    }

    .navbar{
        width: 100%;
    }

    .menu{
        height: 70px;
    }

    .menu ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        top: 70%;
        transform: translateY(-50%);
    }

    .menu ul li{
        width: 25%;
        
    }

    .menu ul li svg{
        margin: 0 auto;
        font-size: 22px;
    }

    .menu ul li a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        justify-content: space-between;
        text-wrap: nowrap;
        font-size: 12px;
    }

}