.footer{
    display: none;
}

@media(max-width: 500px){
    .footer{
        display: flex;
        justify-content: space-between;
        background-color: #7C4BDD;
        position: sticky;
        bottom: 0;
    }

    .navbar{
        width: 100%;
    }

    .menu{
        height: 50px;
        background-color: #7C4BDD;
        border-left: solid 1px #fff;
    }

    .menu ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .menu ul li{
        width: 25%;
        
    }

    .menu ul li svg{
        margin: 0 auto;
        font-size: 22px;
    }

    .menu ul li a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        justify-content: space-between;
        text-wrap: nowrap;
    }

}