@import url("../css/root.module.css");

.container {
    display: flex;
    text-align: center;
}

.divInfo {
    width: 50%;
}

.divInfo h1 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 15px 0 0 0;
}

.divInfo div img {
    width: 30%;
}

.divInfo div p {
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
}

.divInfo div p span {
    color: black;
}

@media(max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .divInfo {
        width: 100%;
    }
}