@import url("../css/root.module.css");

.detalhes{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 15px;
}

.detalhes img{
    width: 10%;
}

.sectionContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(4, 300px);
    padding-top: 80px;
}

.divContainer{
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -10px 20px 10px #d0cfeb;
}

.divImg{
    width: 100%;
    height: 50%;
    border-radius: 20px;
}

.divImg img {
    margin-top: 10px;
    width: 70%;
    height: 90%;
}

.divInfo{
    height: 50%;
    display: block;
    text-align: justify;
    padding-left: 20px;
}

.divInfo h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.divInfo p{
    margin: 15px 0 30px 0;
}

.divInfo button{
    padding-left: 0;
    text-decoration: none;
    font-size: 16px;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 16px;
    border: none;
    border-radius: 15px;
    transition: all 0.4s ease;
}

.divInfo button:hover{
    padding: 20px
}

@media(max-width: 1650px){
    .sectionContainer{
        grid-template-columns: repeat(3, 300px);
    }
}

@media(max-width: 1250px){
    .sectionContainer{
        grid-template-columns: repeat(2, 300px);
    }
}

@media(max-width: 500px){
    .detalhes{
        width: 85%;
        z-index: 1;
    }

    .detalhes img{
        width: 40%;
    }

    .sectionContainer {
        width: 100%;
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        grid-template-columns: repeat(2, 180px);
        padding-top: 80px;
    }

    .divContainer{
        position: relative;
        width: 180px;
        height: 250px;
        border-radius: 20px;
        z-index: 0;
    }


    .divInfo{
        padding-left: 5px;
        text-align: left;
    }

    .divInfo h2{
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0;
        color: var(--secondary-color);
    }
    
    .divInfo p{
        font-size: 12px;
        margin: 10px 0 10px 0;
    }
    
    .divInfo button{
        position: absolute;
        left: 5px;
        bottom: 15px;
        text-decoration: none;
        font-size: 14px;
        color: var(--tertiary-color);
        background-color: var(--secondary-color);
        padding: 10px;
        border: none;
        border-radius: 15px;
        transition: all 0.4s ease;
    }

    .divInfo button:hover{
        padding: 14px;
    }
}