@import url("../css/root.module.css");

.sectionContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-between;
    padding-top: 80px;
}

.sectionContainer div{
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -10px 20px 10px #d0cfeb;
}

.sectionContainer div img {
    width: 100px;
    height: 100px;
}