@import url("../css/root.module.css");

.container{
    display: flex;
}

.divInfo{
    width: 50%;
}

.divInfo h1{
    font-size: 20px;
    margin: 0;
}

.divInfo div img{
    width: 30%;
}

.divInfo div p{
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}

.divInfo div p span{
    color: black;
}