@import url(../css/root.module.css);

.divForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.divForm form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.divForm h1{
    color: var(--secondary-color);
    font-size: 20px;
    margin: 15px 0 40px 0;
}

.divForm label{
    width: 50%;
    height: 30px;
    border: 2px solid var(--secondary-color);
    text-align: center;
    margin: 15px 0 15px 0;
}

.divForm label svg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: var(--secondary-color);
}

.divForm input[type="file"]{
    display: none;
}

.divForm input[type="submit"]{
    width: 20%;
    margin: 30px 0 0 0;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: #fff;
    transition: all 0.4s ease;
}

.divForm input[type="submit"]:hover{
    width: 25%;
}

.divForm input{
    width: 50%;
    height: 30px;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    text-align: center;
    margin: 15px 0 15px 0;
}

.divForm input:focus{
    outline: 0;
}

@media(max-width: 500px){
    .divForm{
        width: 100%;
    }

    .divForm h1{
        margin: 30px 0 10px 0;
        text-wrap: nowrap;
    }

    .divForm label{
        font-size: 14px;
    }

    .divForm input[type="submit"]{
        margin-bottom: 50px;
    }
}