.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #7C4BDD;
    padding: 1em;
}

.menuMobile{
    display: none;
}

.navbar img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.navbar .ulDesktop{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 10px;
}

.navbar .ulDesktop li{
    margin: 0 15px 0 15px;
}

.navbar ul li a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    text-wrap: nowrap;
}

.navbar ul li a:hover{
    text-decoration: underline;
}


@media(max-width: 500px){
    .navbar .ulDesktop{
        display: none;
    }

    .navbar img{
        width: 55px;
        height: 55px;
    }
}