.navbar{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 1em;
}

.navbar ul{
    position:initial;
    right: 0;
    display: flex;
    list-style: none;
    align-items: center;
}